
<div class="d-flex justify-content-end bg-secondary mb-3">
    <button routerLink="./register" class="p-2 bg-primary text-white">register</button>
    <button routerLink="./forget"  class="p-2 bg-warning text-white">forget password</button>
    <button  routerLink="./contact" class="p-2 bg-success text-white">contact us</button>
  </div>
  <html>
    <body>
      <div class="app">
      <P class="text-primary text-center">MY APPLICATION</P>
      <div class="container">
        
        <div class="card">
          <div class="card-header font-weight-bold text-center">LOGIN</div>
          <div class="card-body"><form >
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" placeholder="Enter email" id="email">
            </div><br>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" placeholder="Enter password" id="pwd">
            </div><br>
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
              </label>
            </div><br>
            <button type="submit" routerLink="./login" routerLinkActive="./login" class="btn btn-primary">Submit</button>
          </form>
        </div> 
          
        </div>
      </div>   
      </div>
    </body>
  </html>
