 <div class="container p-4">
    <div class="card ">
        <div class="card-header text-center bg-warning">register</div>
        <div class="card-body">
             <div class="form-group">
            <label for="email">Email id:</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email">
          </div><br>
          <div class="form-group">
            <label for="email">confirm Email :</label>
            <input type="email" class="form-control" placeholder="Enter email" id="email">
          </div><br>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" id="pwd">
          </div><br>
          <div class="form-group">
            <label for="pwd">confirm Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" id="pwd">
          </div><br>
          <button type="submit" class="btn btn-primary">register</button>
          <div class="d-flex flex-row-reverse">
          <button type="submit" href="#" class="btn btn-primary">cancel</button>
        </div>
        </div>
    </div>  
  
</div>